* {
  margin: 0;
  padding: 0;
}

html, body {
   height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  background: #f15a24;
}

.container {
  height: 100%;
}

#map,
#sidebar {
  height: 100%;
}

#map {
  height: 50%;
  min-height: 550px;
  width: 90%;
  float: right;
}

#table {
  width: 88%;
  padding: 1%;
  float: right;
  background: #fff;
}

#sidebar {
  width: 8%;
  padding: 1%;
  min-width: 50px;
  background: ;
  float: left;
  color: #852f10;
}

#holder {
  border: 1px solid #c94719;
  background: #ed6f41;
  border-radius: 5px;
  padding: 10px;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

#holderit.hover {
  background: #fff;
}

